@charset "utf-8"

@font-face
    font-family: 'Recursive'
    src: url('/fonts/Recursive.ttf')

$purple: #522f9c
$text: #161616
$white: #fff

$family-sans-serif: "Recursive", sans-serif
$primary: $purple
$navbar-item-color: darken($white, 20%)
$navbar-item-hover-color: $white
$navbar-item-hover-background-color: none
$navbar-item-active-color: $white

@import "bulma/utilities/_all"
@import "bulma/base/_all"
@import "bulma/elements/_all"
@import "bulma/form/_all"
@import "bulma/components/_all"
@import "bulma/grid/_all"
@import "bulma/helpers/_all"
@import "bulma/layout/_all"
@import "slides"

body
    display: flex
    min-height: 100vh
    font-variation-settings: "wght" 350, "CASL" 0, "slnt" 0, "MONO" 0, "CRSV" 1
    flex-direction: column

    &.has-navbar-fixed-top
        padding-top: calc(55vw * 0.3)

h1,
h2,
.title
    color: $primary
    font-variation-settings: "wght" 500, "CASL" 1, "slnt" 0, "MONO" 0, "CRSV" 1

.title.is-1
    font-size: 7vw

h1
    font-size: 4rem

h2
    font-size: 2rem

.hero .hero-body
    position: relative

.navbar
    position: absolute
    height: calc(55vw * 0.3)
    max-height: calc(45rem * 0.3)
    background-color: rgba($primary, 0.8)
    -webkit-backdrop-filter: blur(3rem)
    -moz-backdrop-filter: blur(3rem)
    backdrop-filter: blur(3rem)
    overflow: hidden
    transition: 2s all
    
    &.animate
        height: 100%
        max-height: 100%
        background-color: rgba($primary, 1)
        -webkit-backdrop-filter: blur(0)
        -moz-backdrop-filter: blur(0)
        backdrop-filter: blur(0)

        .navbar-menu
            margin-top: -100%

        .logo-outer
            top: 50%
            left: 50%
            transform: scale(1) translateX(-50%) translateY(-50%)
        
            figure
                width: 50vh
    
    &.fast
        transition: 1s all
        
        .logo-outer
            transition: 1s all
            
            figure
                transition: 1s all
        
        .navbar-menu
            transition: 1s all

    .navbar-menu
        margin-top: 0
        margin-left: calc(55vw * 0.3)
        transition: 2s all

        .navbar-item
            font-variation-settings: "wght" 400

    .logo-outer
        position: absolute
        top: 1.5vw
        left: 1.5vw
        left: calc(1.5vw + env(safe-area-inset-left))
        transform: scale(0.3) translateX(0) translateY(0)
        transform-origin: top left
        flex-direction: column
        transition: 2s all
        z-index: 1

        figure
            width: 50vw
            margin: 0 auto
            transition: 2s all

        h1,
        h2
            color: $white
            white-space: nowrap

        h1
            font-size: 10vh

        h2
            font-size: 5vh

section.text
    width: 90%    

footer
    text-align: center
    color: $white
    background-color: $primary
    margin-top: 3rem
    padding: 3rem 1.5rem
    
    a
        color: $white
    
    .social-media
        margin-top: 1rem
        
        svg
            width: 2rem
            height: 2rem
            margin: 0 0.5rem

@media screen and ( min-width: 768px )
    body
        &.has-navbar-fixed-top
            padding-top: calc(45rem * 0.2)
    
    .navbar
        height: calc(55vw * 0.2)
        max-height: calc(45rem * 0.2)

        .navbar-menu
            margin-left: calc(55rem * 0.2)

        .logo-outer
            top: 1vw
            left: calc(1.5vw + env(safe-area-inset-left))
            transform: scale(0.2) translateX(0) translateY(0)

    section.text
        max-width: 50vw

@media screen and ( min-width: 1440px )
    .navbar
        .logo-outer
            top: 0.8rem
            left: calc(1.5vw + env(safe-area-inset-left))
